body {
  font-family: sans-serif;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button {
  background: #439cb0;
}

.button:hover {
  background: #246878;
}

button {
  background: red;
}
