:root {
  --white: #ffffff;
  --blue-50: #f4f8fb;
  --blue-100: #e8f0f6;
  --blue-200: #cce0eb;
  --blue-300: #90bed5;
  --blue-400: #6ba8c5;
  --blue-500: #488eaf;
  --blue-600: #367293;
  --blue-700: #2d5c77;
  --blue-800: #284e64;
  --blue-900: #264354;
}

body {
  font-family: sans-serif;
  margin: 0;
}

/* Utility classes */

.cursor-pointer {
  cursor: pointer;
}

.text-teal-900 {
  color: hsl(153 68% 17%);
}

.bg-teal-500 {
  background: hsl(153 45% 55%);
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-10 {
  padding: 2.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hover\:opacity-5:hover {
  opacity: 0.5;
}

/* Semantic classes */

.text-blue-100 {
  color: hsl(200 45% 70%);
}

.text-blue-500 {
  color: hsl(200 45% 50%);
}

.text-green-500 {
  color: hsl(100 45% 50%);
}

.text-red-500 {
  color: hsl(5 45% 50%);
  font-weight: bold;
}

.b-black {
  border-color: black;
}

.b-0 {
  border-width: 0;
}

.b-1 {
  border-width: 0.125rem;
}

.b-solid {
  border-style: solid;
}

.b-rounded {
  border-radius: 0.5rem;
}

.bg-blue-500 {
  background-color: var(--blue-500);
}

.hover\:bg-blue-400:hover {
  background-color: var(--blue-400);
}

.text-blue-900 {
  color: var(--blue-900);
}

.text-white {
  color: var(--white);
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-5 {
  margin: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.p-5 {
  padding: 5rem;
}

.font-primary {
  font-family: "Philosopher", sans-serif;
}

/* Text - Font Size */

.text-xs {
  font-size: 0.5rem;
}

.text-sm {
  font-size: 1rem;
}

.text-md {
  font-size: 1.5rem;
}

.text-lg {
  font-size: 2rem;
}

.text-xl {
  font-size: 3rem;
}
